@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #035372;
  --color-secondary: #39b9ae;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #eeeeee;
}

.Login_Item {
  background-image: url("../src/assets/LoginImage.jpg");
}
